* {
  margin: 0;
  padding: 0; }

body {
  background: #232323;
  font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF; }

a img {
  border: none; }

/* HEADER! */
#header {
  background: #2B2B2B url(/images/headerbg.png) top center repeat-x;
  height: 70px; }
  #header #inner {
    display: block;
    margin: 0 auto;
    width: 940px;
    position: relative; }
    #header #inner h1 {
      background: transparent url(/images/logo.png) top left no-repeat;
      width: 170px;
      height: 140px;
      position: absolute;
      top: 15px;
      left: 0px; }
      #header #inner h1 span {
        display: none; }
    #header #inner img {
      background: transparent url(/images/smallprofilepic.png) top left no-repeat;
      width: 24px;
      height: 24px;
      padding: 2px;
      margin: 2px;
      position: relative;
      top: 0px;
      left: 0px;
      vertical-align: middle;
      margin-right: 10px; }
    #header #inner p {
      position: absolute;
      top: 21px;
      right: 100px;
      width: 300px;
      height: 28px;
      text-align: right;
      font-size: 14px;
      color: #c0c0c0; }
    #header #inner span {
      color: #fff; }
    #header #inner a.logout {
      display: block;
      text-align: center;
      text-decoration: none;
      height: 20px;
      padding-top: 8px;
      position: absolute;
      top: 21px;
      right: 0px;
      background: transparent url(/images/topbutton.png) top left no-repeat;
      width: 85px;
      border: 0;
      font-size: 11px;
      font-weight: bold;
      color: #181818;
      text-transform: uppercase;
      text-shadow: 0 1px 0 #FFFFFF; }
    #header #inner a.logout:hover, #header #inner .topsearchbutton:hover {
      background: transparent url(../images/topbutton.png) bottom left no-repeat; }
    #header #inner a.logout:active, #header #inner .topsearchbutton:active {
      margin-top: 1px; }
    #header #inner #search {
      width: 270px;
      height: 28px;
      position: absolute;
      top: 21px;
      right: 0px;
      overflow: hidden; }
    #header #inner input.topsearch {
      background: transparent url(../images/greysearchbox.png) top left no-repeat;
      width: 203px;
      border: 0;
      padding: 7px 10px;
      color: #484848;
      font-size: 12px; }
    #header #inner .topsearchbutton {
      background: transparent url(../images/topbutton.png) top left no-repeat;
      width: 85px;
      border: 0;
      font-size: 11px;
      font-weight: bold;
      color: #181818;
      text-transform: uppercase;
      text-shadow: 0 1px 0 #FFFFFF; }
    #header #inner:focus {
      background-position-x: -203px;
      outline: none;
      color: #ffffff; }
    #header #inner .topsearchbutton {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 28px; }

/* navbar ! */
#navigation {
  background: #1F5084 url(/images/navbg.png) top center repeat-x;
  height: 65px; }
  #navigation #inner {
    display: block;
    margin: 0 auto;
    width: 940px;
    position: relative; }
  #navigation ul {
    list-style-type: none;
    position: absolute;
    top: 24px;
    left: 0px; }
  #navigation li {
    display: list-item;
    float: left; }
    #navigation li a {
      background: transparent url(/images/navtabs.png) top right no-repeat;
      font-size: 14px;
      font-weight: bold;
      width: 110px;
      height: 44px;
      margin-right: 10px;
      text-align: center;
      vertical-align: center;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 -1px 0 #285F8E;
      line-height: 43px;
      display: block; }
      #navigation li a:hover {
        background: transparent url(/images/navtabs.png) bottom right no-repeat; }
    #navigation li.active a {
      color: #181818;
      text-shadow: 0 1px 0 #FFFFFF;
      background: transparent url(/images/navtabs.png) top left no-repeat; }
      #navigation li.active a:hover {
        background: transparent url(/images/navtabs.png) bottom left no-repeat; }

#main {
  background: #7FBFCF url(/images/mainbg.png) top center repeat-x;
  min-height: 400px; }
  #main #inner {
    display: block;
    margin: 0 auto;
    width: 940px;
    position: relative;
    padding-top: 40px;
    overflow: hidden; }
  #main h2 {
    color: #2C2C2C;
    font-size: 16px;
    text-shadow: 0 1px 0 #D0E7ED;
    padding-left: 20px;
    width: 190px; }

#footer {
  background: #232323 url(/images/footerbg.png) top center repeat-x;
  height: 250px; }
  #footer #inner {
    display: block;
    margin: 0 auto;
    width: 940px;
    position: relative;
    padding-top: 30px;
    overflow: hidden; }
    #footer #inner h4 {
      font-size: 15px;
      color: #63C7D1;
      text-transform: uppercase;
      margin-bottom: 15px; }
    #footer #inner p {
      color: #636363;
      font-size: 13px;
      margin-bottom: 15px; }
      #footer #inner p.quote {
        font-family: Georgia;
        font-size: 14px;
        font-style: italic; }
      #footer #inner p.supportlinks {
        margin-bottom: 2px; }
    #footer #inner a {
      font-size: 13px;
      font-weight: bold;
      color: #377697;
      text-decoration: none; }
    #footer #inner:hover {
      color: #4895BD; }
    #footer #inner #blogpost {
      width: 320px;
      margin-right: 60px;
      height: 170px;
      float: left; }
    #footer #inner #tweet {
      width: 240px;
      margin-right: 60px;
      height: 190px;
      float: left; }
      #footer #inner #tweet p.quote {
        padding-right: 55px;
        background: transparent url(/images/twitterbird.png) center right no-repeat; }
    #footer #inner #support {
      width: 220px;
      height: 170px;
      float: left; }
    #footer #inner #fullfooter {
      clear: both;
      height: 55px;
      position: relative;
      border-top: 1px solid #636363;
      margin-bottom: 10px; }
      #footer #inner #fullfooter ul {
        list-style-type: none;
        position: absolute;
        top: 10px;
        right: 0px; }
        #footer #inner #fullfooter ul li {
          display: list-item;
          float: left;
          margin-left: 30px; }
      #footer #inner #fullfooter p {
        position: absolute;
        top: 30px;
        right: 0px; }
      #footer #inner #fullfooter span {
        color: #999; }
      #footer #inner #fullfooter h6 {
        width: 124px;
        height: 30px;
        background: transparent url(/images/footerlogo.png) top left no-repeat;
        position: absolute;
        top: 15px;
        left: 0px; }
        #footer #inner #fullfooter h6 span {
          display: none; }

/* WORKOUTS */
#trainer {
  width: 300px;
  margin-right: 80px;
  margin-bottom: 50px;
  float: left; }
  #trainer h2 {
    background: transparent url(/images/icons/speechbubble.png) center left no-repeat; }
  #trainer .webcam_preplay, #trainer .webcam {
    margin: 20px 0px;
    float: left;
    position: relative; }
    #trainer .webcam_preplay p, #trainer .webcam p {
      z-index: 1;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 298px;
      height: 260px; }
    #trainer .webcam_preplay span, #trainer .webcam span {
      display: none; }
  #trainer .webcam_preplay p {
    background: transparent url(/images/trainerplay.png) center no-repeat; }
  #trainer .webcam_preplay:hover {
    opacity: 0.7; }
  #trainer span.speech {
    background: transparent url(/images/trainerspeech.png) top left no-repeat;
    float: left;
    height: 21px;
    margin-left: 30px;
    width: 370px; }
  #trainer p#message {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 13px;
    color: #232323;
    text-shadow: 0 1px 0 #fff;
    padding: 10px;
    background: #B2E1E7 url(/images/trainerspeech.png) top left no-repeat;
    background-position: 0px -12px;
    line-height: 20px;
    float: left;
    margin-bottom: 30px; }
  #trainer a#commence, #trainer a#resume {
    display: block;
    float: left;
    width: 240px;
    height: 15px;
    margin-bottom: 10px;
    padding: 20px 0px 20px 60px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    line-height: 14px; }
    #trainer a#commence:hover, #trainer a#resume:hover {
      background: transparent url(/images/workoutsbutton.png) bottom left no-repeat; }
  #trainer a#commence {
    background: transparent url(/images/workoutsbutton.png) top left no-repeat;
    text-shadow: 0 -2px 0 #285F8E; }
  #trainer a#resume {
    background: transparent url(/images/workoutsbutton2.png) top left no-repeat;
    text-shadow: 0 -2px 0 #3D8518; }
  #trainer a#commence:hover {
    background: transparent url(/images/workoutsbutton.png) bottom left no-repeat; }
  #trainer a#resume:hover {
    background: transparent url(/images/workoutsbutton2.png) bottom left no-repeat; }

#plan {
  width: 320px;
  margin-right: 80px;
  float: left;
  margin-bottom: 50px; }
  #plan h2 {
    background: transparent url(/images/icons/greylist.png) center left no-repeat;
    margin-bottom: 20px; }
  #plan .exercise {
    background: transparent url(/images/workouttypes.png) top left no-repeat;
    height: 46px;
    width: 320px;
    float: left;
    margin-bottom: 5px;
    display: block;
    position: relative; }
    #plan .exercise p {
      font-weight: 600;
      font-size: 17px;
      color: #2B2E33;
      padding: 5px 0px 0px 10px;
      line-height: 18px;
      font-size: 15px; }
    #plan .exercise span.reps {
      display: block;
      color: #fff; }
    #plan .exercise span.type {
      position: absolute;
      top: 12px;
      right: 0px;
      width: 78px;
      text-align: center;
      color: #fff;
      text-shadow: 0 2px 0 #000;
      font-size: 15px; }
  #plan .chest {
    background-position: 0 0; }
  #plan .back {
    background-position: 0 -46px; }
  #plan .shoulders {
    background-position: 0 -92px; }
  #plan .legs {
    background-position: 0 -138px; }
  #plan .biceps {
    background-position: 0 -184px; }
  #plan .triceps {
    background-position: 0 -230px; }
  #plan .abs {
    background-position: 0 -276px; }
  #plan .core {
    background-position: 0 -322px; }
  #plan .power {
    background-position: 0 -368px; }
  #plan .cardio {
    background-position: 0 -414px; }

#stats {
  width: 160px;
  float: left;
  margin-bottom: 50px; }
  #stats .bevelside {
    height: 120px;
    width: 220px;
    margin: 0px 15px 30px 0px;
    float: left;
    position: relative; }
    #stats .bevelside p {
      width: 124px;
      height: 75px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: transparent url(/images/bevels.png) top left no-repeat;
      display: block;
      text-align: center;
      font-size: 23px;
      font-weight: 600;
      text-shadow: 0 -1px 0 #000;
      padding: 8px 18px 0px 18px;
      line-height: 32px; }
  #stats .burned h2 {
    background: transparent url(/images/icons/burn.png) center left no-repeat; }
  #stats .burned p {
    background-position: 0 -83px; }
  #stats .duration h2 {
    background: transparent url(/images/icons/alarm.png) center left no-repeat; }
  #stats .duration p {
    background-position: 0 0; }
  #stats #equipment {
    float: left; }
    #stats #equipment p {
      width: 90px;
      height: 46px;
      background: transparent url(/images/equipmentbevel.png) top left no-repeat;
      font-size: 18px;
      color: #232323;
      text-shadow: 0 1px 0 #fff;
      margin-bottom: 10px;
      text-align: center;
      font-weight: 500;
      padding: 7px 35px; }
  #stats h2 {
    background: transparent url(/images/icons/checkboard.png) center left no-repeat;
    margin-bottom: 20px; }

#food_top {
  overflow: hidden;
  margin: 0;
  padding: 0; }

#bigsearch {
  width: 495px;
  margin-right: 80px;
  float: left;
  position: relative;
  margin-top: 20px; }
  #bigsearch input.bigsearchbox {
    width: 331px;
    height: 42px;
    background: transparent url(/images/bigsearch.png) top left no-repeat;
    color: #7FBFCD;
    font-size: 30px;
    padding: 3px 145px 0px 15px;
    border: 0;
    outline: none; }
  #bigsearch input.bigsearchbox:focus {
    color: #fff; }
  #bigsearch input.bigsearchbutton {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 136px;
    height: 45px;
    background: transparent url(/images/bigbuttonsearch.png) top left no-repeat;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -2px 0 #285F8E;
    padding-left: 30px; }
  #bigsearch input.bigsearchbutton:hover {
    background: transparent url(/images/bigbuttonsearch.png) bottom left no-repeat; }

#add_custom, #suggestion, #no_results {
  padding: 10px;
  font-size: 17px;
  text-align: center;
  text-shadow: 0 1px 0 #000; }
  #add_custom a, #suggestion a, #no_results a {
    font-weight: bold;
    margin-left: 8px;
    color: #1B4A82;
    text-decoration: none;
    border-bottom: 1px dashed #1B4A82;
    text-shadow: none; }
  #add_custom a:hover, #suggestion a:hover, #no_results a:hover {
    color: #1B4A82;
    border-bottom: 1px solid #1B4A82; }

#suggestion, #no_results {
  text-align: left; }

ul#foodsearch {
  float: left;
  display: block;
  width: 940px;
  list-style-type: none;
  clear: both; }
  ul#foodsearch li {
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;
    min-height: 74px; }
    ul#foodsearch li .info, ul#foodsearch li .select {
      float: left;
      display: block; }
    ul#foodsearch li .info {
      width: 470px;
      padding-right: 10px; }
    ul#foodsearch li .select {
      width: 360px; }
    ul#foodsearch li p.title {
      display: block;
      margin-bottom: 6px; }
    ul#foodsearch li p.title {
      font-size: 20px;
      color: #232323;
      text-shadow: 0 1px 0 #fff;
      font-weight: bold;
      min-height: 26px; }
      ul#foodsearch li p.title span {
        color: #2A6A9D;
        font-weight: normal;
        margin-left: 5px; }
      ul#foodsearch li p.title span.servingsize {
        background-color: #266697;
        color: #fff;
        font-weight: bold;
        padding: 5px 7px;
        font-size: 16px;
        text-shadow: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-shadow: 0 -1px 0 #000; }
    ul#foodsearch li div.details {
      font-size: 15px;
      font-weight: bold;
      text-shadow: 0 -1px 0 #000;
      margin-top: 14px;
      overflow: hidden; }
      ul#foodsearch li div.details a {
        display: block;
        width: 16px;
        height: 22px;
        float: left;
        margin-right: 5px; }
      ul#foodsearch li div.details a.information {
        background: transparent url(/images/icons/info.png) center center no-repeat; }
      ul#foodsearch li div.details a.favorite {
        background: transparent url(/images/icons/star.png) center center no-repeat; }
      ul#foodsearch li div.details a.unfavorite {
        background: transparent url(/images/icons/star2.png) center center no-repeat; }
      ul#foodsearch li div.details span {
        display: block;
        float: left;
        margin-right: 10px;
        padding: 5px 7px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; }
      ul#foodsearch li div.details span.favoritelink {
        padding: 0; }
      ul#foodsearch li div.details span.calories {
        background-color: #31AC37;
        margin-left: 10px; }
      ul#foodsearch li div.details span.carbs {
        background-color: #DAC42D; }
      ul#foodsearch li div.details span.fat {
        background-color: #BA2F2C; }
      ul#foodsearch li div.details span.protein {
        background-color: #9235B9; }
      ul#foodsearch li div.details span.sugars {
        background-color: #0971C2; }
    ul#foodsearch li p.entry {
      font-size: 14px;
      font-weight: bold;
      margin-right: 20px;
      display: block;
      clear: both;
      padding-top: 5px;
      width: 920px; }
      ul#foodsearch li p.entry span {
        padding: 2px 0px;
        display: block;
        margin-bottom: 2px;
        font-size: 12px; }
      ul#foodsearch li p.entry .serving_desc label {
        margin-right: 30px; }
      ul#foodsearch li p.entry .serving_desc select {
        width: 200px; }
      ul#foodsearch li p.entry .eaten label {
        margin-right: 44px; }
      ul#foodsearch li p.entry .date {
        margin-bottom: 0px; }
        ul#foodsearch li p.entry .date label {
          margin-right: 44px; }
      ul#foodsearch li p.entry label {
        background-color: #232323;
        color: #fff;
        margin-right: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 3px 5px;
        margin-right: 20px; }
      ul#foodsearch li p.entry input {
        text-align: center;
        margin-left: 5px;
        width: 30px;
        text-align: center; }
      ul#foodsearch li p.entry input.default_value {
        color: #CCC; }
    ul#foodsearch li #submit {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 78px;
      width: 80px;
      display: block;
      background: transparent url(/images/foodsearchsubmit.png) top center no-repeat;
      border: 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      text-shadow: 0 -2px 0 #306A25;
      cursor: pointer; }
    ul#foodsearch li #submit:hover {
      background: transparent url(/images/foodsearchsubmit.png) bottom center no-repeat; }
  ul#foodsearch li.odd {
    background-color: #B1E3E8; }
  ul#foodsearch li.even {
    background-color: #8FD6DD; }

#favorites {
  width: 365px;
  float: left;
  font-size: 15px;
  margin-bottom: 50px;
  height: 100px; }
  #favorites h2 {
    background: transparent url(/images/icons/star.png) center left no-repeat;
    margin-bottom: 20px; }
    #favorites h2 span {
      font-size: 10px; }
      #favorites h2 span a {
        font-weight: bold;
        color: #1B4A82;
        text-decoration: none;
        border-bottom: 1px dashed #1B4A82;
        text-shadow: none; }
      #favorites h2 span a:hover {
        color: #1B4A82;
        border-bottom: 1px solid #1B4A82; }
  #favorites table#favoritetable {
    border: 2px solid transparent;
    height: 100px;
    overflow: auto;
    display: block; }
    #favorites table#favoritetable tr {
      min-height: 23px; }
    #favorites table#favoritetable td.item {
      width: 270px;
      padding: 6px 5px 6px 5px;
      color: #232323;
      background: #C6E9ED; }
      #favorites table#favoritetable td.item p:nth-of-type(odd) {
        background: #B1E3E8; }
    #favorites table#favoritetable td.add {
      width: 39px;
      background: #8CCEC1; }
      #favorites table#favoritetable td.add a {
        background: transparent url(../images/icons/plus.png);
        background-repeat: no-repeat;
        background-position: 4px center;
        display: block;
        text-decoration: none;
        font-weight: bold;
        padding: 5px 5px 5px 23px;
        color: #177D17;
        height: 100%; }
    #favorites table#favoritetable td.add:hover {
      background-color: #B6DECF; }
  #favorites ul {
    height: 100px;
    overflow: auto;
    list-style: none; }
    #favorites ul p {
      width: 270px;
      height: 22px;
      padding: 6px 5px 0px 5px;
      margin: 0px 2px 2px 0px;
      background: #C6E9ED;
      color: #232323;
      float: left; }
    #favorites ul p:nth-of-type(odd) {
      background: #B1E3E8; }
    #favorites ul a {
      width: 38px;
      height: 23px;
      padding: 5px 5px 0px 23px;
      margin-bottom: 2px;
      background: #8CCEC1 url(/images/icons/plus.png);
      background-repeat: no-repeat;
      background-position: 4px center;
      color: #177D17;
      float: left;
      text-decoration: none;
      font-weight: bold; }
    #favorites ul a:nth-of-type(odd) {
      background-color: #8ACAB2; }
    #favorites ul a:hover {
      background-color: #B6DECF; }

#tabledata {
  float: left;
  margin: 50px 0px 30px 0px; }
  #tabledata h2 {
    background: transparent url(/images/icons/calendar.png) center left no-repeat;
    width: 300px;
    margin-bottom: 10px; }

#favorite_foods h2.back, #favorite_activities h2.back {
  padding-left: 0; }
  #favorite_foods h2.back a, #favorite_activities h2.back a {
    font-weight: bold;
    color: #1B4A82;
    text-decoration: none;
    border-bottom: 1px dashed #1B4A82;
    text-shadow: none; }
  #favorite_foods h2.back a:hover, #favorite_activities h2.back a:hover {
    color: #1B4A82;
    border-bottom: 1px solid #1B4A82; }
#favorite_foods #tabledata, #favorite_activities #tabledata {
  margin-top: 40px; }
  #favorite_foods #tabledata h2, #favorite_activities #tabledata h2 {
    background: url(/images/icons/star.png) center left no-repeat; }

#intakesummary {
  width: 940px;
  float: left; }
  #intakesummary h2 {
    background: transparent url(/images/icons/graphhoriz.png) center left no-repeat;
    margin-bottom: 20px;
    width: 300px; }
  #intakesummary .intakeprogress {
    width: 160px;
    height: 107px;
    background-color: #232323;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;
    float: left;
    margin-right: 35px;
    z-index: 0; }
    #intakesummary .intakeprogress div.bigprogress {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 107px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      z-index: 1; }
      #intakesummary .intakeprogress div.bigprogress p {
        z-index: 0;
        width: 160px;
        text-align: center;
        color: #fff;
        text-shadow: 0 -1px 0 #000;
        font-size: 52px;
        font-weight: bold;
        z-index: 2;
        line-height: 46px;
        padding-top: 10px; }
      #intakesummary .intakeprogress div.bigprogress span {
        color: #c0c0c0;
        font-size: 18px;
        display: block; }

#intakelog {
  width: 940px;
  font-size: 16px;
  color: #232323; }
  #intakelog tr {
    height: 32px; }
  #intakelog thead tr {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #000; }
  #intakelog thead th.time {
    background: transparent url(/images/tablebar.png) top left no-repeat;
    width: 90px; }
  #intakelog thead th.activity, #intakelog thead th.item, #intakelog thead th.servings {
    background: transparent url(/images/tablebar.png) top center no-repeat; }
  #intakelog thead th.calories {
    background: transparent url(/images/greenbar.png) top center repeat-x; }
  #intakelog thead th.carbohydrates {
    background: transparent url(/images/yellowbar.png) top center repeat-x; }
  #intakelog thead th.fat {
    background: transparent url(/images/redbar.png) top center repeat-x; }
  #intakelog thead th.protein {
    background: transparent url(/images/purplebar.png) top center repeat-x; }
  #intakelog thead th.sugar {
    background: transparent url(/images/bluebar.png) top center repeat-x; }
  #intakelog thead th.modify {
    background: transparent url(/images/tablebar.png) top right no-repeat; }
  #intakelog thead th.time, #intakelog thead th.item {
    text-align: left;
    padding-left: 10px; }
  #intakelog tbody tr.totals {
    background-color: #346B99;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #000; }
    #intakelog tbody tr.totals td.description {
      background-image: url(/images/icons/reddot.png);
      padding-left: 32px;
      background-repeat: no-repeat;
      background-position: 10px center;
      text-align: left; }
    #intakelog tbody tr.totals td.calories {
      background-color: #39923B; }
    #intakelog tbody tr.totals td.carbohydrates {
      background-color: #A79634; }
    #intakelog tbody tr.totals td.fat {
      background-color: #902D2D; }
    #intakelog tbody tr.totals td.protein {
      background-color: #6D3B84; }
    #intakelog tbody tr.totals td.sugar {
      background-color: #18568B; }
  #intakelog tbody tr.odd {
    background-color: #B1E3E8;
    text-align: center; }
  #intakelog tbody tr.even {
    background-color: #8FD6DD;
    text-align: center; }
    #intakelog tbody tr.even td.calories {
      background-color: #7CD29D; }
    #intakelog tbody tr.even td.carbohydrates {
      background-color: #CCCF7E; }
    #intakelog tbody tr.even td.fat {
      background-color: #D59078; }
    #intakelog tbody tr.even td.protein {
      background-color: #B47CD1; }
    #intakelog tbody tr.even td.sugar {
      background-color: #3F95CD; }
  #intakelog tbody td.time, #intakelog tbody td.item {
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 6px center;
    text-align: left; }
  #intakelog tbody td.time {
    background-image: url(/images/icons/clock.png); }
  #intakelog tbody td.item {
    background-image: url(/images/icons/bluelist.png); }
  #intakelog tbody td.calories {
    width: 55px;
    background-color: #87D4C1; }
  #intakelog tbody td.carbohydrates {
    width: 70px;
    background-color: #B5D188; }
  #intakelog tbody td.fat {
    width: 50px;
    background-color: #C2817F; }
  #intakelog tbody td.protein {
    width: 80px;
    background-color: #9A87D2; }
  #intakelog tbody td.sugar {
    width: 70px;
    background-color: #59AAD2; }
  #intakelog tbody td.modify, #intakelog tbody td.servings {
    width: 90px; }

table a.edit, table a.delete, table a.favorite, table a.unfavorite {
  display: block;
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 5px; }
table a.edit {
  background: transparent url(/images/icons/wrench.png) center no-repeat;
  margin-left: 14px; }
table a.delete {
  background: transparent url(/images/icons/cross.png) center no-repeat; }
table a.favorite {
  background: transparent url(/images/icons/star.png) center no-repeat; }
table a.unfavorite {
  background: transparent url(/images/icons/star2.png) center no-repeat; }

.complete, .incomplete, .waiting {
  float: left;
  display: block;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0 1px 0 #000;
  text-align: center;
  margin-top: 85px; }
  .complete a, .incomplete a, .waiting a {
    height: 140px;
    width: 300px;
    position: relative;
    padding-top: 10px;
    line-height: 65px;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-right: 10px; }
  .complete span, .incomplete span, .waiting span {
    padding-left: 55px;
    font-size: 30px; }

.complete a {
  background: transparent url(/images/completedbox.png) top left no-repeat; }
.complete a:hover {
  background: transparent url(/images/completedbox.png) bottom left no-repeat; }
.complete span {
  background: transparent url(/images/completedtick.png) bottom left no-repeat; }

.incomplete a {
  background: transparent url(/images/uncompletedbox.png) top left no-repeat; }
.incomplete a:hover {
  background: transparent url(/images/uncompletedbox.png) bottom left no-repeat; }
.incomplete span {
  background: transparent url(/images/uncompletedcross.png) bottom left no-repeat; }

.waiting a {
  background: transparent url(/images/waitingbox.png) top left no-repeat; }
.waiting a:hover {
  background: transparent url(/images/waitingbox.png) bottom left no-repeat; }
.waiting span {
  background: transparent url(/images/waitingcircle.png) bottom left no-repeat; }

p.burntab, p.durationtab {
  position: absolute;
  display: block;
  font-size: 16px;
  top: -35px;
  width: 85px;
  height: 35px;
  line-height: 38px;
  padding-left: 35px;
  text-align: left; }

p.burntab {
  background: transparent url(/images/burntab.png) top left no-repeat;
  left: 20px; }

p.durationtab {
  background: transparent url(/images/durationtab.png) top left no-repeat;
  left: 160px; }

a.prevdate, a.nextdate {
  text-shadow: 0 -2px 0 #285F8E;
  margin-bottom: 30px;
  display: block;
  width: 172px;
  height: 31px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; }

a.prevdate {
  float: left;
  padding: 11px 0px 0px 48px;
  text-align: left;
  background: transparent url(/images/nextprevbuttons.png) top left no-repeat; }

a.prevdate:hover {
  background: transparent url(/images/nextprevbuttons.png) bottom left no-repeat; }

a.nextdate {
  float: right;
  padding: 11px 48px 0px 0px;
  text-align: right;
  background: transparent url(/images/nextprevbuttons.png) top right no-repeat; }

a.nextdate:hover {
  background: transparent url(/images/nextprevbuttons.png) bottom right no-repeat; }

.pagination {
  padding: 3px;
  overflow: hidden;
  margin-bottom: 10px;
  clear: both;
  float: right;
  font-size: 16px; }
  .pagination .disabled {
    background-color: #CCC;
    color: #333;
    text-shadow: none; }
  .pagination a, .pagination a:visited, .pagination span {
    background-color: #266697;
    color: #fff;
    padding: 4px 6px;
    text-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-shadow: 0 -1px 0 #000;
    text-decoration: none; }
  .pagination a:hover, .pagination a:active {
    color: #000;
    background-color: #FFFFFF;
    text-shadow: 0 -1px 0 #999; }
  .pagination .current {
    background-color: #232323;
    color: #FFFFFF !important;
    cursor: default; }

#addactivity {
  width: 495px;
  margin-right: 80px;
  float: left;
  position: relative; }
  #addactivity h2 {
    background: transparent url(/images/icons/plus.png) center left no-repeat;
    margin-bottom: 20px; }
  #addactivity form {
    background-color: #B1E3E8;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 14px;
    color: #232323;
    padding: 10px;
    font-weight: bold;
    line-height: 26px;
    position: relative; }
    #addactivity form input {
      text-align: center;
      width: 24px; }
    #addactivity form select {
      margin-right: 5px; }
    #addactivity form label {
      background-color: #232323;
      color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      padding: 2px 5px;
      width: 100px;
      margin-right: 20px; }
    #addactivity form #submit {
      position: absolute;
      top: 10px;
      right: 10px;
      height: 80px;
      width: 80px;
      display: block;
      background: transparent url(/images/searchsubmit.png) top center no-repeat;
      border: 0;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-shadow: 0 -2px 0 #306A25;
      cursor: pointer; }
    #addactivity form #submit:hover {
      background: transparent url(/images/searchsubmit.png) bottom center no-repeat; }

.bevel, .bevelsmall {
  width: 220px;
  margin: 0px 15px 50px 0px;
  float: left;
  position: relative; }

.bevel {
  height: 130px; }

.bevelsmall {
  height: 116px; }

.bevel p, .bevelsmall p, .bevelreg p, .bevelright p {
  width: 124px;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent url(/images/bevels.png) center left no-repeat;
  display: block;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  text-shadow: 0 -1px 0 #000;
  padding: 8px 18px 0px 18px;
  line-height: 32px; }

.bevelreg {
  width: 160px;
  float: left;
  position: relative;
  height: 130px; }

.expenditure p {
  background-position: 0 -166px; }
.expenditure h2 {
  background: transparent url(/images/icons/lightning.png) center left no-repeat; }

span.equation {
  float: left;
  height: 50px;
  width: 80px;
  text-align: center;
  color: #1F548A;
  font-size: 50px;
  margin-top: 53px; }

.burned h2 {
  background: transparent url(/images/icons/burn.png) center left no-repeat; }
.burned p {
  background-position: 0 -83px; }

.outtake h2 {
  background: transparent url(/images/icons/reddot.png) center left no-repeat; }
.outtake p {
  background-position: 0 -249px; }

.table {
  width: 940px;
  font-size: 16px;
  color: #232323; }
  .table tr {
    height: 32px; }
  .table thead tr {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 1px 0 #000000; }
  .table thead th {
    background: transparent url(/images/tablebar.png) top center no-repeat; }
  .table thead th.left {
    background: transparent url(/images/tablebar.png) top left no-repeat; }
  .table thead th.right {
    background: transparent url(/images/tablebar.png) top right no-repeat; }
  .table thead th.food, .table thead th.activity {
    text-align: left;
    padding-left: 6px; }
  .table thead th.time {
    width: 210px; }
  .table thead th.times_eaten, .table thead th.times_used {
    width: 110px; }
  .table thead th.modify {
    width: 80px; }
  .table tbody tr.odd {
    background-color: #B1E3E8; }
  .table tbody tr.even {
    background-color: #8FD6DD; }
  .table tbody td {
    padding-left: 5px; }
  .table tbody td.times_eaten, .table tbody td.modify, .table tbody td.time, .table tbody td.times_used {
    text-align: center; }
  .table a.delete {
    float: none;
    align: 0 auto;
    width: auto; }

#expenditurelog {
  width: 940px;
  font-size: 16px;
  color: #232323; }
  #expenditurelog tr {
    height: 32px; }
  #expenditurelog thead tr {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #000; }
  #expenditurelog thead th.date {
    background: transparent url(/images/tablebar.png) top left no-repeat;
    width: 115px; }
  #expenditurelog thead th.activity, #expenditurelog thead th.duration, #expenditurelog thead th.burned {
    background: transparent url(/images/tablebar.png) top center no-repeat; }
  #expenditurelog thead th.modify {
    background: transparent url(/images/tablebar.png) top right no-repeat; }
  #expenditurelog thead th.date, #expenditurelog thead th.activity {
    text-align: left;
    padding-left: 10px; }
  #expenditurelog thead th.activity {
    width: 445px; }
  #expenditurelog thead th.duration {
    width: 140px; }
  #expenditurelog thead th.burned {
    width: 120px; }
  #expenditurelog thead th.modify {
    width: 90px; }
  #expenditurelog tbody tr.odd {
    background-color: #B1E3E8; }
  #expenditurelog tr.even {
    background-color: #8FD6DD; }
  #expenditurelog tr.totals td.date {
    background-image: url(/images/icons/reddot.png); }
  #expenditurelog td.activity, #expenditurelog td.date {
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: 10px center; }
  #expenditurelog td.date {
    background-image: url(/images/icons/calendar2.png); }
  #expenditurelog td.activity {
    background-image: url(/images/icons/bluelist.png); }
  #expenditurelog td.duration, #expenditurelog td.burned, #expenditurelog td.modify {
    text-align: center; }
  #expenditurelog tr.totals {
    background-color: #4A9AC0;
    font-weight: bold;
    text-shadow: 0 1px 0 #B1E3E8; }
    #expenditurelog tr.totals td.activity {
      background-image: none; }
  #expenditurelog tr.weektotals {
    background-color: #346B99;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #000; }
    #expenditurelog tr.weektotals td.activity {
      background-image: none; }
  #expenditurelog tr.empty {
    background-image: none; }
  #expenditurelog tr.tdee td.activity {
    background-image: url(/images/icons/lightning.png); }
  #expenditurelog tr.workout td.activity {
    background-image: url(/images/icons/flag.png); }

#weighttracker {
  float: left;
  width: 920px;
  margin-bottom: 30px; }
  #weighttracker h2 {
    background: transparent url(/images/icons/graphhoriz.png) center left no-repeat;
    display: inline;
    float: left;
    margin-right: -40px; }
  #weighttracker #graph {
    padding: 10px;
    background: transparent url(/images/chartbevel.png) top left no-repeat;
    margin: 10px 0px;
    float: left;
    width: 845px;
    height: 320px; }

.addweight, .addphoto {
  width: 136px;
  height: 28px;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 27px;
  top: -3px;
  position: relative;
  border: 0; }

.addweight {
  background: transparent url(/images/weighttrackerbuttons.png) top left no-repeat;
  color: #003300;
  text-shadow: 0 1px 0 #71D771;
  padding-left: 27px; }

.target h2 {
  background: transparent url(/images/icons/target.png) center left no-repeat; }
.target p {
  background-position: 0 -498px; }

.changemonth h2 {
  background: transparent url(/images/icons/arrowright.png) center left no-repeat; }
.changemonth p {
  background-position: 0 -581px; }

.changeyear h2 {
  background: transparent url(/images/icons/arrowdiag.png) center left no-repeat; }
.changeyear p {
  background-position: 0 -664px; }

.changetime h2 {
  background: transparent url(/images/icons/arrowup.png) center left no-repeat; }
.changetime p {
  background-position: 0 -747px; }

#modal_overlay {
  background-color: #000; }

.window {
  background-image: url("/images/window_background.png");
  background-position: top left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 10px;
  font-family: "Lucida Grande",Verdana;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  min-width: 150px;
  min-height: 100px;
  text-shadow: 0 1px 0 #999; }
  .window .window_contents {
    margin-top: 10px;
    width: 100%;
    height: 100%; }
    .window .window_contents h3 {
      padding-left: 20px;
      background: transparent url(/images/icons/camera.png) center left no-repeat;
      margin-bottom: 5px;
      margin-right: 5px; }
  .window .window_header {
    text-align: center; }
  .window .window_title {
    margin-top: -7px;
    margin-bottom: 7px;
    font-size: 11px;
    text-transform: uppercase; }
  .window .window_close {
    display: block;
    top: 4px;
    float: right;
    height: 13px;
    width: 13px;
    background-image: url("/images/window_close.gif");
    cursor: pointer;
    cursor: hand; }
  .window label {
    display: block;
    width: 70px;
    float: left; }

#userinfo, #userequip, #usersub {
  width: 450px;
  float: left;
  margin-bottom: 30px;
  margin-left: 100px; }
  #userinfo h2, #userequip h2, #usersub h2 {
    margin-bottom: 20px; }
  #userinfo ul, #userequip ul, #usersub ul {
    list-style-type: none;
    margin-bottom: 20px; }

#userinfo, #userequip {
  margin-right: 30px; }

#userinfo h2 {
  background: transparent url(/images/icons/userinfo.png) center left no-repeat; }

#userequip h2 {
  background: transparent url(/images/icons/checkboard.png) center left no-repeat; }

#usersub h2 {
  background: transparent url(/images/icons/bill.png) center left no-repeat; }

#userinfo ul, #userequip ul, #usersub ul {
  list-style-type: none;
  margin-bottom: 20px; }

#userinfo ul, #usersub ul {
  font-size: 13px; }

#userinfo li p.type, #usersub li p.type {
  display: block;
  height: 17px;
  background: #232323;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  margin: 0px 5px 5px 0px;
  float: left; }
#userinfo li p.data, #usersub li p.data {
  background: #B1E3E8;
  min-height: 17px;
  margin: 0px 0px 5px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #232323;
  font-weight: normal;
  float: left; }

#userinfo li p.type {
  width: 90px;
  padding: 3px 5px 3px 5px; }
#userinfo li p.data {
  width: 175px;
  padding: 3px 5px 3px 5px; }

#usersub {
  margin-left: 100px; }
  #usersub li p.type {
    width: 100px;
    padding: 3px 5px 3px 5px; }
  #usersub li p.data {
    width: 165px;
    padding: 3px 5px 3px 5px; }

#userinfo a, #userequip a, #usersub a, #updateuserinfo a, #updatebilling a, #updatepassword a, #entermealinfo a, #usernotify a, #updateequipinfo a {
  width: 290px;
  float: left;
  margin-top: 15px;
  height: 35px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #285F8E;
  background: transparent url(/images/accountbuttons.png) top left no-repeat;
  text-align: center;
  line-height: 33px; }
#userinfo a:hover, #userequip a:hover, #usersub a:hover, #updateuserinfo a:hover, #updatebilling a:hover, #updatepassword a:hover, #entermealinfo a:hover, #usernotify a:hover, #updateequipinfo a:hover {
  background: transparent url(/images/accountbuttons.png) bottom left no-repeat; }

#userequip li {
  display: block;
  width: 290px;
  color: #232323;
  background: transparent url(/images/userequip.png) center center repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 8px 5px 8px 5px;
  float: left;
  text-align: center;
  text-shadow: 0 -1px 0 #fff;
  font-size: 19px; }

#updateuserinfo, #updatepassword, #entermealinfo {
  float: left;
  margin-bottom: 30px;
  width: 350px;
  margin-right: 60px; }
  #updateuserinfo h2, #updatepassword h2, #entermealinfo h2 {
    background: transparent url(/images/icons/userinfo.png) center left no-repeat; }
  #updateuserinfo li, #updatepassword li, #entermealinfo li {
    display: block;
    float: left; }
  #updateuserinfo p.type, #updatepassword p.type, #entermealinfo p.type {
    width: 90px; }

#updateuserinfo ul, #updateequipinfo ul, #updatepassword ul, #entermealinfo ul {
  list-style-type: none;
  margin-top: 20px; }

#updatepassword li p.type, #entermealinfo li p.type {
  width: 155px; }

#updateuserinfo li p.type, #updatebilling li p.type, #updatepassword li p.type, #entermealinfo li p.type {
  display: block;
  height: 17px;
  background: #232323;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  margin: 0px 10px 5px 0px;
  float: left;
  padding: 3px 5px 3px 5px;
  font-size: 13px; }
#updateuserinfo li.checkbox label, #updateuserinfo li.option label, #updatebilling li.checkbox label, #updatebilling li.option label, #updatepassword li.checkbox label, #updatepassword li.option label, #entermealinfo li.checkbox label, #entermealinfo li.option label {
  width: 195px;
  display: block;
  font-size: 14px;
  margin: 0px 0px 10px 0px;
  color: #232323;
  background: transparent url(/images/userequip.png) center center repeat-x;
  padding: 10px 10px 10px 10px;
  text-transform: capitalize;
  text-shadow: 0 -1px 0 #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
#updateuserinfo li.checkbox input, #updateuserinfo li.option input, #updatebilling li.checkbox input, #updatebilling li.option input, #updatepassword li.checkbox input, #updatepassword li.option input, #entermealinfo li.checkbox input, #entermealinfo li.option input {
  width: 20px;
  margin: 0px 5px 0px 0px;
  padding: 0px; }
#updateuserinfo li.checkbox p.extra, #updatebilling li.checkbox p.extra, #updatepassword li.checkbox p.extra, #entermealinfo li.checkbox p.extra {
  color: #232323;
  font-size: 14px;
  margin: 20px 0px 10px 0px;
  display: block;
  float: left;
  text-align: center;
  width: 460px; }
#updateuserinfo li p.type, #updatebilling li p.type, #updatepassword li p.type, #entermealinfo li p.type {
  height: auto; }

#updateuserinfo input, #updatebilling input, #updatepassword input, #entermealinfo input {
  float: left;
  margin-bottom: 5px;
  width: 200px;
  height: 17px;
  padding: 0px 5px;
  font-size: 13px; }

#updateuserinfo #user_weight, #updateuserinfo #user_target_weight {
  width: 35px;
  text-align: center; }

span.annote {
  font-size: 13px;
  color: #232323;
  font-weight: bold;
  padding: 8px 5px 0px 5px; }

#updateuserinfo select, #entermealinfo select {
  font-size: 13px;
  margin: 2px 0px; }
#updateuserinfo textarea, #entermealinfo textarea {
  float: left;
  margin-bottom: 5px;
  width: 200px;
  height: 150px;
  padding: 0px 5px;
  font-size: 13px; }

#updateequipinfo {
  float: left;
  margin-bottom: 30px;
  width: 440px; }
  #updateequipinfo h2 {
    background: transparent url(/images/icons/checkboard.png) center left no-repeat;
    width: 300px;
    margin-bottom: 5px; }
  #updateequipinfo ul {
    margin-bottom: 20px; }
  #updateequipinfo h3 {
    width: 440px;
    float: left;
    margin: 10px 0px 20px 0px;
    font-size: 15px;
    text-shadow: 0 -1px 0 #285F8E; }
  #updateequipinfo li {
    display: block;
    width: 190px;
    color: #232323;
    background: transparent url(/images/userequip.png) center center repeat-x;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: bold;
    margin: 0px 20px 5px 0px;
    padding: 6px 5px 6px 5px;
    float: left;
    text-align: center;
    text-shadow: 0 -1px 0 #fff;
    font-size: 15px; }
  #updateequipinfo p {
    display: block;
    float: left;
    width: 440px;
    font-size: 14px;
    color: #232323;
    margin-bottom: 10px; }
  #updateequipinfo textarea {
    padding: 10px;
    width: 420px;
    font-size: 14px;
    height: 100px; }

#updatepassword {
  width: 500px; }
  #updatepassword h2 {
    background: transparent url(/images/icons/password.png) center left no-repeat; }

#entermealinfo {
  width: auto; }
  #entermealinfo h2 {
    background: transparent;
    margin-bottom: 5px;
    padding-left: 0; }
  #entermealinfo h3 {
    font-size: 15px;
    color: #232323;
    margin: 10px 0 0 0;
    text-shadow: 0 1px 0 #D0E7ED; }
  #entermealinfo .errorExplanation {
    font-size: 12px; }
    #entermealinfo .errorExplanation h2 {
      width: auto;
      font-size: 14px;
      color: #BA2F2C; }
    #entermealinfo .errorExplanation p {
      color: #232323; }
    #entermealinfo .errorExplanation ul li {
      float: none;
      color: #BA2F2C; }
  #entermealinfo .fieldWithErrors {
    float: left; }
    #entermealinfo .fieldWithErrors input {
      border-color: #FF0000; }
  #entermealinfo .left {
    float: left;
    margin-right: 10px; }
  #entermealinfo .last {
    margin-right: 0px; }
  #entermealinfo ul {
    width: 400px;
    overflow: hidden;
    margin-top: 5px; }
  #entermealinfo ul.nut {
    width: 230px; }
    #entermealinfo ul.nut input {
      width: 35px;
      text-align: center; }
    #entermealinfo ul.nut li p {
      width: 130px; }
    #entermealinfo ul.nut li p.nut {
      text-shadow: 0 -1px 0 #000;
      color: #FFFFFF; }
    #entermealinfo ul.nut li p.calories {
      background-color: #31AC37; }
    #entermealinfo ul.nut li p.carbs {
      background-color: #DAC42D; }
    #entermealinfo ul.nut li p.fat {
      background-color: #BA2F2C; }
    #entermealinfo ul.nut li p.protein {
      background-color: #9235B9; }
    #entermealinfo ul.nut li p.sugars {
      background-color: #0971C2; }

#comment {
  width: 600px; }
  #comment h2 {
    width: 500px;
    background: transparent url(/images/icons/info.png) center left no-repeat; }
  #comment h3 {
    font-size: 15px;
    color: #232323;
    margin: 10px 0px;
    font-weight: normal; }
  #comment form {
    margin: 0px 20px 50px 0px;
    width: 380px; }
    #comment form p {
      color: #232323;
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 0px; }
      #comment form p span, #comment form p label {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        padding: 5px;
        display: block; }
      #comment form p span {
        background: #232323;
        color: #fff;
        font-weight: bold;
        margin: 20px 0px 10px 0px; }
      #comment form p label {
        background: transparent url(/images/userequip.png) center center repeat-x;
        margin-bottom: 5px; }
      #comment form p #workout_where_pain {
        height: 16px;
        width: 150px;
        margin-top: 5px; }
      #comment form p textarea {
        width: 370px;
        height: 100px;
        font-size: 13px;
        padding: 5px; }
      #comment form p #submitcomment {
        margin-top: 20px;
        padding: 5px 10px;
        font-size: 13px; }

#sudobanner-bg {
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: #FF0000;
  width: 100%;
  z-index: 100;
  opacity: .75;
  height: 30px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75); }

#sudobanner {
  position: fixed;
  top: 0;
  padding-top: 10px;
  width: 100%;
  z-index: 101;
  font-size: 15px;
  height: 30px;
  border-bottom: 2px solid #FFF; }
  #sudobanner .close {
    float: right;
    margin-right: 30px; }
    #sudobanner .close a {
      text-decoration: none;
      color: #000; }
  #sudobanner .inner {
    margin: 0 auto;
    width: 250px;
    text-shadow: 0 1px 0 #000; }

#sudopadding {
  height: 40px; }

#workout_header {
  overflow: hidden;
  color: #000; }
  #workout_header h2 {
    float: left;
    margin-top: 5px;
    padding-left: 0; }

#current_workout_type {
  font-size: 1.4em;
  text-shadow: 0 1px 0 #FFF;
  float: right;
  margin-top: 5px; }

#workouttype h2, #usernotify h2 {
  display: block;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 15px;
  width: auto;
  padding-left: 0; }
#workouttype .smaller, #usernotify .smaller {
  font-size: 22px; }
#workouttype .buckets, #usernotify .buckets {
  overflow: hidden; }
#workouttype .user_bucket, #usernotify .user_bucket {
  float: left;
  width: 280px;
  height: 120px;
  font-size: 14px;
  margin: 0px 10px 10px 0px;
  color: #232323;
  background: #f3f3f3 url(/images/userequip.png) center bottom repeat-x;
  padding: 10px 10px 10px 10px;
  text-shadow: 0 -1px 0 #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  #workouttype .user_bucket .title, #usernotify .user_bucket .title {
    font-weight: bold; }
  #workouttype .user_bucket .desc, #usernotify .user_bucket .desc {
    margin-top: 4px; }
#workouttype .user_bucket.unavailable, #usernotify .user_bucket.unavailable {
  color: #777;
  height: 155px; }
  #workouttype .user_bucket.unavailable .equip, #usernotify .user_bucket.unavailable .equip {
    margin-top: 4px;
    color: #232323; }
#workouttype ul, #usernotify ul {
  overflow: hidden;
  margin-bottom: 20px; }
#workouttype li, #usernotify li {
  list-style: none;
  float: left;
  width: 280px;
  font-size: 14px;
  margin: 0px 10px 10px 0px;
  color: #232323;
  background: #f3f3f3 url(/images/userequip.png) center bottom repeat-x;
  padding: 10px 10px 10px 10px;
  text-shadow: 0 -1px 0 #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
#workouttype input.confirm, #usernotify input.confirm {
  width: 290px !important;
  float: left !important;
  margin: 20px 70px;
  height: 35px;
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px !important;
  text-decoration: none;
  text-shadow: 0 -1px 0 #285F8E;
  background: transparent url(/images/accountbuttons.png) top left no-repeat;
  text-align: center;
  line-height: 33px;
  border: 0px; }
  #workouttype input.confirm:hover, #usernotify input.confirm:hover {
    background: transparent url(/images/accountbuttons.png) bottom left no-repeat; }

a.small_button {
  float: right;
  margin: 0 10px;
  width: 124px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #fff;
  text-shadow: 0 -1px 0 #285F8E;
  text-decoration: none;
  background: transparent url(/images/splash/buttons.png) top center no-repeat;
  font-size: 1.5em; }
  a.small_button:hover {
    background: transparent url(/images/splash/buttons.png) bottom center no-repeat; }

ul.account_tabs {
  position: relative;
  margin: 10px 0 15px 0;
  height: 26px;
  padding: 6px 10px;
  background: url(/images/userequip.png) 0 0   repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }
  ul.account_tabs li {
    list-style-type: none;
    margin: 0;
    display: inline; }
    ul.account_tabs li a {
      float: left;
      margin-right: 10px;
      height: 26px;
      padding: 0 8px;
      line-height: 26px;
      font-size: 14px;
      color: #666;
      text-shadow: 1px 1px 0 rgba(255,255,255,0.7);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      text-decoration: none; }
      ul.account_tabs li a:hover {
        color: #333;
        background-color: #ccc;
        text-decoration: none; }
  ul.account_tabs li.selected a {
    position: relative;
    top: -1px;
    font-weight: bold;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-right-color: #eee;
    border-bottom-color: #eee; }

.info_flash {
  background-color: #CCFFCC;
  border: 1px solid #99CC99;
  margin: 10px auto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 2em;
  color: #333;
  height: 26px;
  padding: 6px 10px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.7); }

.error_flash {
  background-color: #E77471;
  border: 1px solid #C24641;
  margin: 10px auto;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 2em;
  color: #FFF;
  height: 26px;
  padding: 6px 10px;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.7); }

table.upgrades {
  margin: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  color: #000; }
  table.upgrades #org_plans {
    margin: 15px 0; }
  table.upgrades th {
    padding: 2px 5px;
    text-transform: uppercase;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd; }
  table.upgrades td {
    padding: 8px 5px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    background: url(/images/modules/account/billing_bevel.gif) 0 0 repeat-x #f5f5f5; }
  table.upgrades tr:hover td {
    background-color: #d2f4f4; }
  table.upgrades tr.selected td {
    background-color: #333;
    color: #fff; }
  table.upgrades tr.current td {
    background-color: #fdffce;
    color: #000; }
  table.upgrades td.num, table.upgrades td.bool, table.upgrades th.num, table.upgrades th.bool {
    text-align: center; }
  table.upgrades td.action {
    text-align: center;
    font-size: 12px;
    color: #999; }
  table.upgrades td.name em {
    font-style: normal;
    color: #666; }

table.upgrades.selected td {
  padding-top: 4px;
  padding-bottom: 4px;
  opacity: .5;
  font-size: 12px; }
table.upgrades.selected tr.selected td {
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 1.0;
  font-size: 16px; }

#thank_you h2 {
  display: block;
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  text-shadow: 0 3px 0 #19467D;
  margin-bottom: 15px;
  width: auto;
  padding: 0px; }
#thank_you h3 {
  display: block;
  font-size: 19px;
  font-weight: 400;
  color: #153E6A;
  text-shadow: 0 -1px 0 #58B4C5;
  line-height: 26px;
  margin-bottom: 15px; }
#thank_you p {
  margin: 10px; }
#thank_you a {
  color: #FFF;
  font-size: 16px;
  font-weight: bold; }

#enteruserinfo .fieldWithErrors {
  float: left; }
#enteruserinfo h2 {
  background: transparent url(/images/icons/userinfo.png) center left no-repeat; }
#enteruserinfo ul {
  list-style-type: none;
  margin-top: 20px; }
  #enteruserinfo ul li.checkbox label, #enteruserinfo ul li.option label {
    width: 275px;
    display: block;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    color: #232323;
    background: transparent url(/images/userequip.png) center center repeat-x;
    padding: 10px 10px 10px 10px;
    text-transform: capitalize;
    text-shadow: 0 -1px 0 #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
  #enteruserinfo ul li.checkbox input, #enteruserinfo ul li.option input {
    width: 20px;
    margin: 0px 5px 0px 0px;
    padding: 0px; }
  #enteruserinfo ul li.checkbox p.extra {
    color: #232323;
    font-size: 14px;
    margin: 20px 0px 10px 0px;
    display: block;
    float: left;
    text-align: center;
    width: 460px; }

#enteruserinfo li, #enterbillinginfo li {
  display: block;
  float: left; }

#enteruserinfo li p.type, #enterbillinginfo li p.type {
  width: 120px;
  position: relative; }

#enteruserinfo li p.type span, #enterbillinginfo li p.type span {
  display: none; }

#enteruserinfo li p.error, #enterbillinginfo li p.error {
  background-color: #d40108 !important; }

#enteruserinfo li p.type span.error, #enterbillinginfo li p.type span.error, #entermedicalhistory li p.type span.error {
  display: block;
  position: absolute;
  left: -110px;
  background: none;
  color: #fff;
  width: 100px;
  font-size: 12px;
  text-shadow: 0 1px 0 #000000; }

#enteruserinfo li p.type span.error, #enterbillinginfo li p.type span.error {
  top: 0px; }

#enteruserinfo li p.type, #enterbillinginfo li p.type {
  display: block;
  background: #232323;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-weight: bold;
  margin: 0px 10px 10px 0px;
  float: left;
  padding: 6px 10px 6px 10px;
  font-size: 16px;
  text-align: right; }

#enteruserinfo input, #enterbillinginfo input {
  float: left;
  margin-bottom: 5px;
  width: 250px;
  padding: 3px 5px 4px 5px;
  font-size: 15px; }

#enteruserinfo #user_weight, #enteruserinfo #user_target_weight {
  width: 35px;
  text-align: center; }

span.annote {
  font-size: 13px;
  color: #232323;
  font-weight: bold;
  padding: 8px 5px 0px 5px; }

#enteruserinfo select, #enterbillinginfo select {
  font-size: 13px;
  margin: 2px 0px;
  height: 30px;
  padding: 2px 10px 3px 2px; }

#enteruserinfo textarea, #enterbillinginfo textarea {
  float: left;
  margin-bottom: 10px;
  padding: 3px 5px;
  font-size: 16px; }

#enteruserinfo textarea {
  width: 280px;
  height: 180px; }
