* {
  margin: 0;
  padding: 0; }

body {
  background: #232323;
  font: 62.5% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFF;
  padding-top: 100px; }

#fitstream {
  height: 71px;
  display: block;
  background: transparent url(/images/loginlogo.png) center center no-repeat;
  border: none;
  margin-bottom: 50px; }
  #fitstream span {
    display: none; }

form {
  margin: 0 auto;
  width: 250px; }
  form label {
    display: block;
    width: 250px;
    margin-bottom: 5px;
    font-size: 15px; }
  form input {
    width: 250px;
    height: 23px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 3px 0px 0px 0px; }
    form input.button {
      width: 100px;
      height: 25px;
      margin: 20px auto;
      display: block;
      font-size: 14px; }

a {
  color: #c0c0c0;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 170px;
  margin: 5px auto; }
  a:hover {
    color: #47C2ED; }

p {
  text-align: left;
  display: block;
  margin: 20px auto;
  font-size: 14px; }

.error_flash, .info_flash {
  background-image: url(/images/icons/accept.png);
  background-repeat: no-repeat;
  background-position: 1% 50%;
  background-color: #CCFFCC;
  border: 1px solid #99CC99;
  width: 400px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 10px 10px 25px; }


.error_flash {
  background-image: url(/images/icons/exclamation.png);
  background-color: #E77471;
  border: 1px solid #C24641; }

#pageerror {
  margin: 0 auto;
  width: 320px; }
  #pageerror h6 {
    font-size: 32px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0 0 25px #47C2ED; }
  #pageerror p {
    text-align: center; }
  #pageerror a {
    display: inline;
    color: #47C2ED; }
  #pageerror a:hover {
    color: #666; }
