%tr
  %td.item= favorite.activity.name
  %td.add
    = link_to("Add", {:controller=>"activity_log", :action=>"quick_add", :id => favorite.id}, :id => "favorite_link_#{favorite.id}")
    :javascript
      var modal = new Control.Modal($('favorite_link_#{favorite.id}'), {containerClassName: 'window', width: 400});