#navigation
  #inner
    %p
      Reasons to join:
      %ul.tabs#tabs
        %li= link_to('About Us', '/learn/about', :class => 'active')
        %li= link_to('Workouts', '/learn/workouts')
        %li= link_to('Nutrition', '/learn/nutrition')
#learn
  #inner
    %h3 One of the most important aspects of our lives is good health. Yet we often take it for granted. Most of us live such fast-paced lives that it’s difficult to dedicate time to health and fitness. Good advice and clear direction is also hard to find. That’s why we developed physicalfix.com. You can take control of your health. Let us show you how. 

    %h4 What is physicalfix.com?
    %p physicalfix.com is a complete health and fitness system designed to help you reach your weight loss goals. physicalfix.com delivers customized workouts created specifically for you by a certified personal trainer. It provides a comprehensive food database containing the nutritional value of thousands of foods. And it offers an easy-to-use food journal so you can keep track of your caloric intake. Plus, physicalfix.com will chart your progress so you can see your hard work paying off.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')

    %h4 What makes physicalfix.com different than other online personal training sites?
    %p In addition to a focus on complete wellness, physicalfix.com offers you something no other online training site does. And that is an onscreen workout partner. You will be guided through every single repetition of every exercise. Not only will your partner be sweating with you, he’ll be offering tips on proper form the whole way through. This guarantees that you’ll get the most out of every exercise. And it minimizes the possibility of injuries. Check out the “Workouts” section of our website for more detailed information.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')

    %h4 Who is physicalfix.com for?
    %p physicalfix.com is for anyone that wants to change their life by maximizing their health and fitness. physicalfix.com makes it easy by offering you the freedom of exercising wherever and whenever you want. In the morning in your living room or in the afternoon in your hotel room – it’s up to you. All you have to do log on and hit “play.”
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')

    %h4 Who is my personal trainer and workout partner?
    %p My Bio:
    %p Hi, I'm Josh and my goal is to help you reach your goal. Whether it be losing the last of the "baby weight" or training for a triathlon.  I want you to think of me as your partner - and together we will get you wherever you want to go. You can feel completely comfortable putting your fitness future in my hands.  Let me tell you why. 

    %p Having been involved in sports and athletics my entire life, I understand the importance of hard work, determination, and commitment.  I take pride in practicing what I teach.  I am currently a sponsored triathlete, adventure racer, and ultra-marathoner. I have completed several 50-mile runs, 100-mile runs, and 24-hour adventure races. Most recently I completed my second “Triple Ironman.” This is a 7.2-mile swim, followed by a 336-mile bike ride, finishing with a 78.6-mile run.  I crossed the finish line in 51 hours and did so without any sleep.  I’ve recently begun training for a “Quintuple Ironman" (12 mile swim, 560 mile bike, 131 mile run).
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 My Background
    %p I received my Bachelor’s degree in Sports Medicine with a minor in Athletic Training from the University of Rhode Island. My first job was with the New York Jets, as an Assistant Strength and Conditioning Coach and part of the Sports Medicine Staff.  After several years, and with a wealth of knowledge gained, I decided to branch out on my own. Since then I have earned numerous nationally recognized certifications covering everything from injury rehabilitation and prevention to pre- and postnatal training to sports specific enhancement.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 My Clients 
    %p Over the years, I've worked on-set with actors and traveled with musicians on tour.  I've worked with clients ranging in age from 20-70. I've taken novice runners to their first marathon - and marathoners to their first triathlon. I've trained women through pregnancies and athletes through injuries.  The diversity of my clientele not only keeps me on my toes, it's taught me to be adaptable and flexible.  
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 My Training Style
    %p When it comes to fitness, one size does not fit all! Every individual I work with is different. That's why every program I write is different; tailored to meet their specific needs, body type, fitness level and overall goals. I've spent the last 10 years perfecting this concept and developing my own unique training style.  I have found success by keeping a few core principals top-of-mind. 1. Personalization is my goal for every client and every workout. 2. Variety is key to success and injury prevention. 3. I believe that fitness must, and can, fit within your lifestyle.  These elements are critical to a successful workout regimen. And each has been incorporated into the physicalfix.com system.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 Sharing what I've learned
    %p Helping people reach their fitness goals is what drives me every day. Occasionally I have the opportunity to do that on a large scale.  I have appeared on many local and national television shows including Live! With Regis and Kelly, Good Day New York and the Fox 5 Morning Show.  I’ve also consulted for ABC, CBS and NBC news programs. In addition, I’ve been featured as a fitness expert in several national magazines including US News & World Report, Fitness for Men, Exercise for Men and Cosmopolitan. Most recently, physicalfix.com (previously known as physicalfix.com) was highlighted in OK! Magazine. (March 8, 2010)"I have appeared on many local and national television shows including Live! With Regis and Kelly, Good Day New York and the Fox 5 Morning Show."

    
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')

    %h4 My Certifications
    %p
      Member of National Academy of Sports Medicine (NASM)
      %br
      Member of National Strength and Conditioning Association (CSCS)
      %br
      Member of American Council on Exercise (ACE)
      %br
      Post-Rehab certified through AAAI
      %br
      Prenatal and Post-natal certified through AAAI

    %h4 Additional Background
    %p
      University of Rhode Island; B.S., Sports Medicine May 1995
      %br
      United States Military Reserve Officer Training Corp (1991-1994)
      %br
      United States Military Airborne School (June 1992)
      %br
      United States Military Air Assault School (August 1992)
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')