#navigation
  #inner
    %p
      Reasons to join:
      %ul.tabs#tabs
        %li= link_to('About Us', '/learn/about')
        %li= link_to('Workouts', '/learn/workouts', :class => 'active')
        %li= link_to('Nutrition', '/learn/nutrition')
#learn
  #inner
    %h3 Consistent exercise is essential for weight loss, but that’s just the beginning. Which exercises are best for you? What is proper form? Should you do cardio or strength training – or both? What should you do if your time is limited or if you can’t get to a gym? physicalfix.com takes the guesswork out of the equation. All you have to do is answer a few questions and we’ll do the rest.

    %h4 How are physicalfix.com workouts customized for me?
    %p physicalfix.com has created hundreds of individual exercise videos.  Each one takes you through all the repetitions of an exercise. Your personal trainer will select the best exercises for you based on information you provide. Each of those exercise videos will be placed back-to-back in the exact order necessary to achieve your goals. This creates a “movie style” workout. You simply have to hit “play” and follow along.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 How many workouts will I receive?
    %p Each week, when you log into the physicalfix.com site, you will have 3 different workouts waiting for you. You can do them at your convenience – as many times as you want.  The following week you’ll receive 3 entirely new workouts. That’s 12 completely unique workouts every month. 
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 How will I know if I’m doing the exercises correctly?
    %p With physicalfix.com, you are never alone. Your workout partner is with you for every repetition of every exercise, every workout, everyday. He will not only show you proper form, but he will explain it.  And then he will remind you along the way. This will help you see results faster and it will keep you injury free.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')
    
    %h4 Why are physicalfix.com workouts so effective?
    %p There are two key reasons why physicalfix.com users find success. First, myfistream.com provides a highly personalized program. Unlike other online training sites, physicalfix.com takes every aspect of your life (goals, time, equipment) into account and designs every workout to fit your needs. 

    %p Second, physicalfix.com knows that workout variation is the quickest way to improve your physique. Our extensive database of exercises enables us to continually provide new and different workouts. This eliminates boredom and keeps you, and your body, constantly challenged.
    =link_to('Sign Up Now', plans_path, :class => 'signup', :style => 'float: none;')